In [1]:
import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = None

In [2]:
df = pd.read_csv("Student Academic Plans.csv", low_memory=False)

In [3]:
df

,Term,Student Name,ID (SIS),Campus ID,Email Address,Career,Academic Career Matriculation Term,Academic Level,Academic Award Category,School/College of Student,...,Academic Program,Academic Program Code,Academic Plan Type,Academic Plan Code,Academic Plan Group,Academic Plan,Academic Plan Matriculation Term,Academic Subplan Type,Academic Subplan Code,Academic Subplan
0,2022-2023 Spring,"Abdi,Elham Noh",6438055,9084383430,eabdi@wisc.edu,UGRD,1232,Freshman,Bachelor's,School of Business,...,Business Undergraduate,BUS,MAJ,BUS 423,423,"Bus: Finance, Invest&Bank BBA",1234,NaN,NaN,NaN
1,2022-2023 Spring,"Abdrakhmanov,Alisher",5916545,9078061695,abdrakhmano2@wisc.edu,UGRD,1176,Senior,Bachelor's,School of Business,...,Business Undergraduate,BUS,MAJ,BUS 623,623,Bus: Management & Hum Res BBA,1202,OPT,MG,Management
2,2022-2023 Spring,"Abdullaeva,RABIGA",6420923,9084208207,abdullaeva@wisc.edu,UGRD,1232,Sophomore,Bachelor's,School of Business,...,Business Undergraduate,BUS,MAJ,BUS 004,4,Bus: Accounting BBA,1232,NaN,NaN,NaN
3,2022-2023 Spring,"Abel,Ethan Troy",6441227,9084416446,etabel@wisc.edu,UGRD,1232,Freshman,Bachelor's,School of Business,...,Business Undergraduate,BUS,MAJ,BUS 423,423,"Bus: Finance, Invest&Bank BBA",1232,NaN,NaN,NaN
4,2022-2023 Spring,"Abendroth,Meriah Justine",6402820,9083959545,mabendroth@wisc.edu,UGRD,1232,Freshman,Bachelor's,School of Business,...,Business Undergraduate,BUS,MAJ,BUS 625,625,Bus: Marketing BBA,1232,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78712,2014-2015 Fall,"Zunamon,William",4707878,9064551857,NaN,UGRD,1112,Senior,Bachelor's,School of Business,...,Business Undergraduate,BUS,MAJ,BUS 859,859,Bus: RealEst & UrbLandEcon BBA,1144,NaN,NaN,NaN
78713,2014-2015 Fall,"Zuo,Peijing",5003280,9068131383,NaN,UGRD,1132,Junior,Bachelor's,School of Business,...,Business Undergraduate,BUS,MAJ,BUS 423,423,"Bus: Finance, Invest&Bank BBA",1152,NaN,NaN,NaN
78714,2014-2015 Fall,"Zureikat,Julia",5098743,9069101153,NaN,UGRD,1142,Sophomore,Bachelor's,School of Business,...,Business Undergraduate,BUS,MAJ,BUS 623,623,Bus: Management & Hum Res BBA,1152,OPT,EN,Entrepreneurship
78715,2014-2015 Fall,"Zureikat,Julia",5098743,9069101153,NaN,UGRD,1142,Sophomore,Bachelor's,School of Business,...,Business Undergraduate,BUS,MAJ,BUS 625,625,Bus: Marketing BBA,1152,NaN,NaN,NaN
78716,2014-2015 Fall,"Zureikat,Julia",5098743,9069101153,NaN,UGRD,1142,Sophomore,Bachelor's,School of Business,...,Business Undergraduate,BUS,MAJ,BUS 859,859,Bus: RealEst & UrbLandEcon BBA,1152,NaN,NaN,NaN

In [5]:
df = df[["Term", "Campus ID", "Academic Plan Code", "Academic Plan"]]
df = pd.get_dummies(df, columns=["Academic Plan Code"]).drop("Academic Plan", axis=1)

#majs =df.columns.tolist()[2:]
#for col in majs:
#    df.rename(columns={col : (col.split("Code_",1)[1])}, inplace = True)
 
    
# figure out how to not hard code    
df.rename(columns={ "Academic Plan Code_BUS 004": "BUS: Accounting", \
                   "Academic Plan Code_BUS 009": "BUS: Actuarial Science", \
                   "Academic Plan Code_BUS 423": "BUS: Finance, Invest&Bank", \
                   "Academic Plan Code_BUS 569": "BUS: Information System", \
                   "Academic Plan Code_BUS 575": "BUS: International Bus", \
                   "Academic Plan Code_BUS 623": "BUS: Management & Hum Res", \
                   "Academic Plan Code_BUS 625": "BUS: Marketing", \
                   "Academic Plan Code_BUS 846": "BUS: Oper & Tech Mgm", \
                   "Academic Plan Code_BUS 859": "BUS: RealEst & UrbLandEcon", \
                   "Academic Plan Code_BUS 882": "BUS: Risk Mgmt & Insurance", \
                   "Academic Plan Code_BUS 986": "BUS: Supply Chain Mgmt", \
                   "Academic Plan Code_MAJ 229": "Computer Sciences", \
                   "Academic Plan Code_MAJ 252": "Data Science", \
                   "Academic Plan Code_MAJ 261": "Economics", \
                   "Academic Plan Code_MAJ 634": "Mathematics", \
                   "Academic Plan Code_MAJ 949": "Statistics"}, inplace = True)


df = df.groupby(["Campus ID", "Term"]).agg(func="max")
df = df.reset_index()

#Checking
#df[df["Campus ID"] == 9069101153]

In [6]:
df

,Campus ID,Term,BUS: Accounting,BUS: Actuarial Science,"BUS: Finance, Invest&Bank",BUS: Information System,BUS: International Bus,BUS: Management & Hum Res,BUS: Marketing,BUS: Oper & Tech Mgm,BUS: RealEst & UrbLandEcon,BUS: Risk Mgmt & Insurance,BUS: Supply Chain Mgmt,Computer Sciences,Data Science,Economics,Mathematics,Statistics
0,9011343689,2021-2022 Fall,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
1,9011343689,2021-2022 Spring,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
2,9016616865,2015-2016 Fall,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,9016616865,2015-2016 Spring,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
4,9016616865,2016-2017 Fall,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52085,9084895896,2022-2023 Spring,False,False,False,False,False,False,True,False,False,True,False,False,False,False,False,False
52086,9084935114,2022-2023 Fall,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
52087,9084935114,2022-2023 Spring,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
52088,9084952556,2022-2023 Fall,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
52089,9084952556,2022-2023 Spring,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False

In [202]:
#FOR DISTINCT MAJORS PER STUDENT--> for table & bar chart
#df = df.groupby(["Campus ID"]).agg(func="max")
#df = df.drop("Term", axis=1)
#df

,BUS: Accounting,BUS: Actuarial Science,"BUS: Finance, Invest&Bank",BUS: Information System,BUS: International Bus,BUS: Management & Hum Res,BUS: Marketing,BUS: Oper & Tech Mgm,BUS: RealEst & UrbLandEcon,BUS: Risk Mgmt & Insurance,BUS: Supply Chain Mgmt,Computer Sciences,Data Science,Economics,Mathematics,Statistics
Campus ID,,,,,,,,,,,,,,,,
9011343689,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
9016616865,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
9017675142,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0
9017865529,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
9024260961,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9084892356,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9084895391,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
9084895896,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0
9084935114,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
9084952556,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [131]:
# ANOTHER WAY TO TRANSFORM
#df = df.pivot_table(index=["Term", "Campus ID"], columns ="Academic Plan Code", values=["Academic Plan"], aggfunc="first")
#df_m= df.melt(id_vars =["Term", "Campus ID", "Academic Plan"], value_vars = df.columns.tolist() )
#df_m.drop("variable", axis=1)
#df_m.fillna(0)

In [128]:
df.to_excel("Student_Aca_graph.xlsx", "Student_Aca_graph.xlsx")

# For relations table

In [178]:
df2 = pd.read_csv("Student Academic Plans.csv", low_memory=False)
df3 = pd.read_csv("Student Academic Plans.csv", low_memory=False)
df2 = df2[["Term", "Campus ID", "Academic Plan"]]
df3 = df3[["Term", "Campus ID", "Academic Plan"]]

df2 = df2.replace("Computer Sciences BMAJ", "Computer Sciences")
df3 = df3.replace("Computer Sciences BMAJ", "Computer Sciences")

df2 = df2.replace("Economics BMAJ", "Economics")
df3 = df3.replace("Economics BMAJ", "Economics")

df2 = df2.replace("Mathematics BMAJ", "Mathematics")
df3 = df3.replace("Mathematics BMAJ", "Mathematics")

df2 = df2.replace("Statistics BMAJ", "Statistics")
df3 = df3.replace("Statistics BMAJ", "Statistics")

df3 = df3.rename( columns={ "Academic Plan": "Academic Plan 2"})
df2 = df2.merge(df3, how="outer")

#Checking
#pd.set_option('display.max_rows', 1000)
#df2[df2["Campus ID"] == 9084935114]

                  Term   Campus ID       Academic Plan     Academic Plan 2
431   2022-2023 Spring  9084935114  Bus: Marketing BBA  Bus: Marketing BBA
9935    2022-2023 Fall  9084935114  Bus: Marketing BBA  Bus: Marketing BBA

In [168]:
df2.to_excel("Student_Aca_table.xlsx", "Student_Aca_table.xlsx")